<link rel="stylesheet" type="text/css" href="templates/no-products/no-products.css">
<div class="noProducts-container">
    <div class="noResults">Nu au fost gasite rezultate pentru:
        <span>"{{ searchString }}"</span>
    </div>
    <div class="helpResults">
        <b>Pentru a găsi produsul dorit, încercați următoarele:</b>
        <ul>
            <li>Verificați dacă ați scris corect termenii.</li><br>
            <li>Încercați să folosiți sinonime.</li><br>
            <li>Încercați din nou, folosind o căutare mai generală.</li><br>
        </ul>
    </div>
</div>