<link rel="stylesheet" type="text/css" href="templates/footer/footer.css">
<footer>
    <div class="container-footer">
        <div class="link-grid">
            <div>
                <h6>
                    <strong>CONTACT</strong>
                </h6>
                <ul class="list-inline">
                    <li>
                        <img src="images/site/locationmark-icon.svg">
                        <a href="#">SHOPIT Oradea Str. Vladeasa nr. 40</a>
                    </li>
                    <li>
                        <img src="images/site/phone-icon.svg">
                        <a href="#">Telefon: 0745 785 974</a>
                    </li>
                    <li>
                        <img src="images/site/mail-icon.svg">
                        <a href="#">info@shopit.ro</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6>
                    <strong>Servicii clienți</strong>
                </h6>
                <ul class="list-inline">
                    <li>
                        <a href="#">Conectare</a>
                    </li>
                    <li>
                        <a href="my-order.php">Comenzile mele</a>
                    </li>
                    <li>
                        <a href="terms.php">Termene și condiții</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6>
                    <strong>Urmareste-ne</strong>
                </h6>
                <a href="#"><img src="images/site/facebook-icon.svg" style="margin-right: 12.5px;"></a>
                <a href="#"><img src="images/site/linkedin-icon.svg"></a>
            </div>
        </div>
        <div class="additional-info">
            <div>
                <p>© 2021 - ShopIT</p>
            </div>
            <div class="pay-icon">
                <img src="images/site/Visa-icon.svg" alt="Visa">
                <img src="images/site/Mastercard-icon.svg" alt="Mastercard">
                <img src="images/site/Maestro-icon.svg" alt="Maestro">
                <img src="images/site/Mobilepay-icon.svg" alt="Mobilepay">
            </div>
        </div>
    </div>
</footer>
