<div class="tableCard">
    <a href="/view.php?productId={{ productId }}">
        <div class="card-box">
            <img src="images/{{ image }}" alt="Error" class="card-img-top">
            <div class="card-body">
                <h2>{{ name }}</h2>
                <div>
                    <h4 class="{{ textColor }}" style="float: left">{{ stockProduct }}</h4>
                    <p class="price"><strong>{{ price }} </strong>Lei</p>
                </div>
            </div>
        </div>
    </a>
</div>