<link rel="stylesheet" type="text/css" href="templates/terms/terms.css">
<div class="terms-container">
    <h2>INFORMAȚII DE CONTACT</h2>
    <p>Tlf.: 0745 785 974<br>
        INFO@SHOPIT.RO</p>
    <h2>LIVRARE</h2>
    <p>Trimitem pachetele noastre cu FAN Courier, alegem unde va fi livrat când aprobați comanda. Livrăm atât la adrese
        comerciale, fie la adrese private.
        <br>
        <br>
        Comenzile sunt trimise ca punct de plecare, în termen de 5 zile lucrătoare. Veți primi un e-mail și un mesaj text
        când elementul a fost trimis de la ShopIT.
        În cazul în care un articol în mod neașteptat nu se află în stoc, veți fi notificat prin mesaj text și e-mail și
        va fi indicat termenul estimat de livrare. </p>
    <h2>PLATĂ</h2>
    <p>Plata se poate face cu Visa, Maestro, Mastercard sau MobilePay.
        Suma va fi dedusă numai de pe cardul dvs. atunci când comanda este expediată.
        O sumă mai mare decât cea pe care ați aprobat-o în momentul achiziției nu poate fi niciodată dedusă.
        Vă rugăm să rețineți că, cu Mastercard, precum și cu anumite carduri de plată străine, veți vedea că banii sunt
        retrași de pe cardul dvs.
        înainte de a fi trimis articolul. Banca dvs. a rezervat banii eliminându-i din contul dvs. și nu ceva asupra
        căruia avem control.
        Le vom retrage de la bancă numai după ce am expediat comanda dvs. Dacă anulați o comandă după utilizarea unuia
        dintre aceste carduri, banca dvs. poate continua să rezerve banii timp de până la 30 de zile.
        Din păcate, nu avem control asupra acestui lucru și ar trebui să trateze problema la banca dvs. </p>
    <h2>ÎNCHEIEREA ACORDULUI</h2>
    <p>Atunci când faceți cumpărături din magazinul nostru, acceptați că nu se încheie un
        acord final de cumpărare până când comanda dvs. nu este procesată.
        Prin urmare, ShopIT.ro are dreptul de a respinge o comandă în orice moment dacă articolul este epuizat,
        este declarat cu un preț incorect, este imposibil de obținut sau din alte motive. Pentru a face cumpărături,
        trebuie să aveți peste 18.
        În cazul în care copiii sau tinerii cu vârsta sub 18 ani au comandat bunuri pe ShopIT.ro cu cardul de
        credit al părinților lor fără permisiune, părinții pot anula tranzacția cu ușurință, fără efort și în orice
        moment, contactându-ne. În cazul în care articolul a fost expediat, procedura de returnare a articolului va
        intra în vigoare, adică: Plătiți transportul pentru expediere și expediere pentru returnare.</p>
    <h2>RETURNAREA MĂRFURILOR</h2>
    <p>Conform legii privind contractele de consum, există un drept de retragere de 14 zile. Cele 14 zile calendaristice
        se calculează de la data livării produsului. Produsul trebuie să fie returnat în aceeași stare în care a fost
        livrat și să conțină toate componentele, accesoriile și eventualele cadouri de care a fost însoțit, inclusiv
        manuale de utilizare sau certificate de garanție.
    </p>
    <h3><i>Adresa expeditorului:</i></h3>
    <p>SHOPIT<br>
        Oradea<br>
        Str. Vladeasa, nr. 40<br>
        <br>
        <br>
        NOTĂ: Nu ridicăm coletele de returnare la oficiile poștale, magazinele de colete etc. - totul trebuie livrat la
        adresa noastră.
    </p>
    <h2>2 ANI GARANȚIE</h2>
    <p>Aveți întotdeauna dreptul de 2 ani să faceți o reclamație. Adică. dacă, după un timp, articolul dvs. ar trebui să
        aibă, de exemplu, un defect de fabricație și dacă defectul nu a fost cauzat de o utilizare incorectă sau uzură
        normală, vă rugăm să ne contactați prin telefon sau e-mail.
        Apoi ne trimiteți articolul înapoi, unde evaluăm dacă este o reclamație validă și, dacă da, dacă poate fi
        reparat sau schimbat.
        Dacă acest lucru nu este posibil, banii vor fi rambursați. Dacă reclamația nu este aprobată, veți primi
        articolul înapoi.</p>
    <h2>POLITICA DE CONFIDENȚIALITATE</h2>
    <p>Compania înțelege și respectă importanța confidențialității pe Internet. Compania nu va dezvălui informații
        despre clienți / utilizatori unor terțe părți decât dacă este necesar pentru implementarea unei tranzacții.
        Compania nu va vinde numele, adresa, adresa de e-mail, cardul de credit sau datele personale către niciun terț
        fără permisiunea dvs. prealabilă. </p>
</div>